<div class="container">
	<%= simple_form_for(@minijob, html: { class:'form-horizontal' }) do |f| %>
		<%= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category"} %>
	  <%= f.input :title, label: "MiniJob Title" %> <br/>
	  <%= f.input :description, label: "MiniJob Description" %> <br/>
	  
	  <%= f.input :paradosi, label: "πρεπει να ολοκληρωθεί την" %> <br/>

		<% @minijob.tag_types.each do |tag| %>
	  <div class="form-group">
	    <strong>Skills που απαιτούνται</strong><br />
	    <% tag_sym = "#{tag.to_s.singularize}_list".to_sym %>
	    <% tag_list = "#{tag.to_s.singularize}_list" %>
	    <%= f.text_field tag_sym, value: @minijob.send(tag_list).to_s, :placeholder => "Comma-separated list of #{tag.to_s}", class: 'form-control' %>
	  </div>
	  <% end %>


	  <%= f.input :timi, label: "ποσό κόστους ανα προιόν", :placeholder => "πχ 2€" %>
	  <%= f.input :plithos, label: "ποσοτητα", :placeholder => "πχ 100" %>
	  <br/>
	  <%= f.button :submit %>
	<% end %>
</div>
