<div class="container">
	<h1>
		<%= @minijob.title %>
	</h1>
	<p>
		<%= @minijob.description %>
	</p>
	<p>
	<h3>ποσό κόστους ανα προιόν  </h3>
		<%= @minijob.timi %> €
	</p>
		<h3>ποσοτητα</h3>
		<%= @minijob.plithos %>
	</p>

	</p>
		<h3>πρεπει να ολοκληρωθει την</h3>
		<%= @minijob.paradosi %>
	</p>


	<% @minijob.tags.any? %>
  <% @minijob.tags.each do |tag| %>
	  <span class="label label-teal">
	    <%= link_to tag.name, tag_path(tag.name) %>
	  </span>  
   <% end %>
   <br><br><br>


<%= link_to "Home", root_path %>
<% if user_signed_in? %>
	<%= link_to "Edit", edit_minijob_path(@minijob) %>
	<%= link_to "Delete", minijob_path(@minijob), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
</div>



