<!DOCTYPE html>
<html>
<head>
  <title>MinijobsBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <li>
      <%= link_to "All miniJobs", root_path %>
    </li>
    <% Category.all.each do |category| %>
      <%= link_to category.name, minijobs_path(category: category.name) %>
    <% end %>
    <%= yield %>
  </body>
</html>
